In [1]:
import requests
import csv
import pandas as pd

In [2]:
url = 'https://s3.amazonaws.com/open-to-cors/assignment.json'
data = requests.get(url).json()

In [3]:
list_data=[]
for i in data['products']:
    lis=[]
    lis.append(int(i))
    lis.append(data['products'][i]["subcategory"])
    lis.append(data['products'][i]["title"])
    lis.append(int(data['products'][i]["price"]))
    lis.append(int(data['products'][i]["popularity"]))
    list_data.append(lis)

In [4]:
Details = ['id', "subcategory", "title", "price","popularity"]  

with open('assignment.csv', 'w') as f: 
    write = csv.writer(f) 
    write.writerow(Details) 
    write.writerows(list_data)

In [5]:
data1=pd.read_csv('assignment.csv')

In [6]:
data1.sort_values(["popularity"], 
                    axis=0,
                    ascending=[False], 
                    inplace=True)

In [9]:
print("Displaying data with Title, Price ordered based on the descending popularity:")
data1[["title","price"]]

Displaying data with Title, Price ordered based on the descending popularity:

                          title  price
0         Micromax Canvas Spark   4999
1      Samsung Galaxy Grand Max  12950
2                Apple iPhone 6  40999
3    Samsung Galaxy Grand Prime   9286
4    Micromax Canvas Nitro A311   7769
..                          ...    ...
995    Samsung Galaxy Tab 3 8.0  13999
996           BSNL  My Phone 42   2849
997             IBall 6351-Q40i   3999
998          Samsung E1270 Flip   2499
999           Zen Ultrafone 402   3528

[1000 rows x 2 columns]